<%= simple_form_for @winner, :html => { :class => 'form-horizontal' } do |f| %>

<%= f.error_notification %>
<%= display_base_errors @winner %>

<%= f.input :nameteam, :label => "Nombre del Equipo", :required => true %>
<%= f.input :namemember, :label => "Miembro del Equipo", :required => true %>
<%= f.input :score, :label => "Puntaje", :required => true %>
<%= f.input :dategame, :label => "Fecha", :required => true %>
<div class="form-actions">

<%= f.submit "guardar", :class => 'btn btn-primary' %>
<%= link_to 'Atras', winners_path, :class => 'btn btn-small' %>
</div>
<% end %>
